In [17]:
#pip install mysql-connector-python

In [2]:
import mysql.connector

In [9]:
con=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="college"
)
mycursor = con.cursor()
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('dep',)

In [21]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\program files\python313\lib\site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
import mysql.connector

In [24]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root"
)
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('college',)
('company',)
('employee_payroll_system',)
('information_schema',)
('library',)
('mysql',)
('northwind',)
('performance_schema',)
('prodution',)
('questions',)
('sakila',)
('sys',)
('vimala',)
('world',)

In [33]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root"
)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE hello")

In [36]:
rar=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="prodution"
)
lal=rar.cursor()
lal.execute("SHOW TABLES")
for x in lal:
    print(x)

('customers',)
('orders',)

In [38]:
rar=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="prodution"
)
lal=rar.cursor()
lal.execute("CREATE TABLE CUSTOMER(NAME VARCHAR(255),ADDRESS VARCHAR(255))")

In [11]:
rar=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="prodution"
)
lal=rar.cursor()
pap="DROP TABLE IF EXISTS CUSTOMER"
lal.execute(pap)

In [10]:
import mysql.connector

In [17]:
kai=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database="industry"
)
kal=kai.cursor()
sql="insert into customers(custid,custname)values(%s,%s)"
val=(1,'john')
kal.execute(sql,val)
kai.commit()
print(kal.rowcount,'record inserted')

1 record inserted

In [21]:
kai=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database="industry"
)
kal=kai.cursor()
sql="insert into customers(custid,custname)values(%s,%s)"
val =[ 
  (2,'Peter'),
  (3,'Amy'),
  (4,'Hannah'),
  (5,'Michael'),
  (6,'Sandy'),
  (7,'Betty')
]
kal.executemany(sql,val)
kai.commit()
print(kal.rowcount,'was inserted')

6 was inserted

In [24]:
kai=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database="industry"
)
kal=kai.cursor()
sql="update customers SET custname=%s WHERE custname=%s"
val=('daniyel','betty')
kal.execute(sql,val)
kai.commit()
print(kal.rowcount,'record(s) affected')

2 record(s) affected

In [26]:
kai=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database="industry"
)
kal=kai.cursor()
sql="update customers SET custname='daniyal' WHERE custname='sandy'"
kal.execute(sql)
kai.commit()
print(kal.rowcount,'record(s) affected')

2 record(s) affected