In [1]:
print("the words")
l=("hello","for","python")
for i in l:
    print(i,end=" ")

the words
hello for python

In [13]:
print("\ndictionary")
d=dict()
d['xyz']=123
d['abc']=456
for i in d:
    print("% s % d"%(i,d[i]))

dictionary
xyz  123
abc  456

In [47]:
for x in 'python developer':
    if x=='e'or x=='o':
        continue
    print('current letter:',x)

current letter: p
current letter: y
current letter: t
current letter: h
current letter: n
current letter:
current letter: d
current letter: v
current letter: l
current letter: p
current letter: r

In [4]:
for i in range(10):
    print(i,end=" ")
    print()

0
1
2
3
4
5
6
7
8
9

In [11]:
a=[10,20,30,40]
for x in range(len(a)):
    print(a[x],end=" ")

10 20 30 40

In [16]:
sum=0
for i in range (1,11):
    sum=sum+i
    print("sum of first 10 natural numbers:",sum)

sum of first 10 natural numbers: 1
sum of first 10 natural numbers: 3
sum of first 10 natural numbers: 6
sum of first 10 natural numbers: 10
sum of first 10 natural numbers: 15
sum of first 10 natural numbers: 21
sum of first 10 natural numbers: 28
sum of first 10 natural numbers: 36
sum of first 10 natural numbers: 45
sum of first 10 natural numbers: 55

In [17]:
for i in range(1,4):
    print(i)
else:
    print("no break\n")

1
2
3
no break

In [18]:
a=[1,2,3]
b=['a','b','c']
for x in a:
    for y in b:
        print(x,y)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

In [23]:
def hello(a):
    print("hello my function",a)
a=input("Enter a name")
hello(a)

Enter a name ammu

hello my function ammu

In [29]:
def fun(*x):
    for i in x:
        print(i)
fun(5,10,14,15)

5
10
14
15

In [30]:
def hello():
    print("welcome to ipcs")
hello()

welcome to ipcs

In [31]:
def evenorodd(x):
    if(x%2==0):
        print("even")
    else:
        print("odd")
evenorodd(6)
evenorodd(7)

even
odd

In [35]:
def num(x,y):
    print("x:",x)
    print('y:',y)
num(y=10,x=20)

x: 20
y: 10

In [39]:
def name(*kids):
    print("the yougest child "+kids[2])
name('a','b','c')

the yougest child c

In [40]:
def name(country="norway"):
    print("i am from "+country)
name('india')
name('tailand')
name('tokyo')
name()

i am from india
i am from tailand
i am from tokyo
i am from norway

In [46]:
def name(xyz):
    for x in xyz:
        print(x)
frutis=['a','b','c']
name(frutis)

a
b
c

In [48]:
def sum(a,b):
    return a+b
s = sum(2,3)
print(s)

5

In [49]:
def square(num):
    return num(*2)
square()

_IncompleteInputError: incomplete input (346972121.py, line 3)