In [33]:
a=float(input('enter the 1st number:'))
b=float(input('enter the 2st number:'))
if a<b:
    print(a,'is smaller than',b)
elif b<a:
    print(b,'is greater than ',a)
else:
    print('both are equal')

enter the 1st number: 3
enter the 2st number: 5

3.0 is smaller than 5.0

0
1
2
3
4
5
6
7

In [44]:
a=7
if a%2==0:
    print('divided by 2')
elif a%3==0:
    print('divided by 3')
else:
    print('not divided by both')

not divided by both

In [5]:
p1=int(input('1st person age:'))
p2=int(input('2nd person age:'))
p3=int(input('3rd person age:'))
p4=int(input('4th person age:'))
if min():
    print('young',)
else:
    print('same age')

1st person age: 23
2nd person age: 35
3rd person age: 18
4th person age: 50

young

In [32]:
youngest_age = float('inf')  
for i in range(1, 5):
    age = int(input(f"Enter age of person {i}: "))
    if age < youngest_age:
        youngest_age = age
print(f"The youngest age is: {youngest_age}")

Enter age of person 1:  23
Enter age of person 2:  35
Enter age of person 3:  18
Enter age of person 4:  50

The youngest age is: 18

In [29]:
oldest_age=float('1')
for i in range(1,5):
    age = int(input(f"enter the age of person {i}: "))
    if age > oldest_age:
        oldest_age=age
print(f"the oldest one is:{oldest_age}")

enter the age of person 1:  23
enter the age of person 2:  35
enter the age of person 3:  50
enter the age of person 4:  18

the oldest one is:50

In [42]:
vowles=str(input('the letter is :'))
if vowles in 'aeiou':
    print('true')
else:
    print('false')

the letter is : d

false

In [55]:
days_of_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
for day in days_of_week:
    print(day)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [59]:
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
for i in range(len(days)):
    print(f"{i+1} {days[i]}")

1 Sunday
2 Monday
3 Tuesday
4 Wednesday
5 Thursday
6 Friday
7 Saturday

In [62]:
dic={'a':100,'b':200,'c':300}
dic.get('b')

200

In [80]:
number=int(input('enter a number:'))
lastdigit= number% 10
if lastdigit%3==0:
      print(f"the last digit {lastdigit} is divisible by 3") 
else:
      print(f"the last digit {lastdigit} is divisible by 3")

enter a number: 366

the last digit 6 is divisible by 3

In [85]:
x={'a':1,'b':2,'c':3,'d':4}
del x['c']
print(x)

{'a': 1, 'b': 2, 'd': 4}

In [87]:
x=[1,2,3,5]
x.insert(3,4)
print(x)

[1, 2, 3, 4, 5]

In [93]:
age=int(input('the age:'))
if age<=18:
    if age>=18:
        print('adult')
    else:
        if age>=13:
            print('teenager')
        else:
            print('child')
else:
    print('age must be 18 or below')

the age: 21

age must be 18 or below

In [94]:
unit=float(input('enter the unit consumed:'))
bill=0
if unit<=100:
    bill=0
elif unit<=200:
    bill(unit-100)*5
else:
    bill=(100*5)+(100*10)+((unit-200)*10)
    print(f"electricity bill for {unit} unit is: rs{bill}")

enter the unit consumed: 500

electricity bill for 500.0 unit is: rs4500.0